.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1{
    color: #262626;
    font-weight: 500;
}

.explore-menu-text{
    max-width: 60%;
    color: #808080;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #747474;
    border: none;
}

.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}

.filter-price{
    display: flex;
    gap: 2.5rem;
}

.filter-price label{
    font-size: 1.3rem;
}

.filter-price input{
    height: 2rem;
    padding: 5px;
    margin-left: 1rem;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    color: #747474;
    border: 2px solid #747474;
}

.filter-price .filter-btn{
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
}

.filter-price .clear-filter-btn{
    background-color: tomato;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 7rem;
}

@media(max-width:1050px){
    .explore-menu-text{
        max-width: (100%);
        font-size: 14px;
    }
    .filter-price{
        flex-direction: column;
    }
}